html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    body(class="container-fluid")

    br 
    a(href="/notes", class="btn btn-outline-dark btn-sm" ) Back
        
    div(class="container")
        br
        br
        h4 #{data.title}
        img(src=data.image_url, alt="Image that failed to load", class="img-fluid rounded")
        br
        br
        p #{data.content}
        span(class="badge badge-dark") 
            tags #{data.tag}
        br
        br

        h3 Comments
        form(method="POST", action="/notes/comment", class="form")
            input(type="hidden" name="post_id" value=data._id)
            div(class="form-group")
                textarea( class="form-control" type="text"  name="comment"  placeholder="Comment here")
            div(class="form-group")  
                input( class="btn btn-light float-right" type="submit")